In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
# Tabelas com as descrições
dfItems = pd.read_csv('competitive-data-science-predict-future-sales/items.csv')
# dfItemCategories = pd.read_csv('competitive-data-science-predict-future-sales/item_categories.csv')
# dfShops = pd.read_csv('competitive-data-science-predict-future-sales/shops.csv')

In [39]:
dfItems.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [55]:
# quantidade de categorias diferentes
len(pd.unique(dfItems.item_category_id))

84

In [56]:
# Carregando os Dados 
dtSalesTrain = pd.read_csv('competitive-data-science-predict-future-sales/sales_train.csv.gz')

In [20]:
# Valores das features
dtSalesTrain.columns.tolist()

['date', 'date_block_num', 'shop_id', 'item_id', 'item_price', 'item_cnt_day']

### Descrição das colunas

<b>date</b>: data em que a venda ocorreu <br>
<b>date_block_num</b>: é o índice de meses e anos (jan/2013 = 0, fev/2013 = 1,...)<br>
<b>shop_id</b>: código de identificação da loja<br>
<b>item_id</b>: código de identificação do item<br>
<b>item_price</b>: preço do item<br>
<b>item_cont_day</b>: quiantidade vendida de itens no dia

In [17]:
dtSalesTrain.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [57]:
# Adicionando colunas item_category_id ao dataFrame
dtSalesTrain = dtSalesTrain.merge(dfItems, on='item_id')
dtSalesTrain = dtSalesTrain.drop(['item_name'], axis=1)
# dfItems.columns
dtSalesTrain.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id
0,02.01.2013,0,59,22154,999.0,1.0,37
1,23.01.2013,0,24,22154,999.0,1.0,37
2,20.01.2013,0,27,22154,999.0,1.0,37
3,02.01.2013,0,25,22154,999.0,1.0,37
4,03.01.2013,0,25,22154,999.0,1.0,37